body{
    background-color: black;
    background:url('../images/ep_naturalblack.png');
}

h1, h2, h3{
    color:white;
    font-family: 'Marvel', sans-serif;
}

h1, h2{
    font-weight:bold;
}

.title{
    margin-top:45px;
}

button{
    border: 3px white solid !important;
    padding: 0 !important;
    margin-bottom:20px;
}

.hidden{
    display:none;
}

.hero-class{
    display: none;
}

#hero-body, #enemy-body{
    text-align: center;
}

.attack-button{
    border: 0 !important;
    padding: 10px !important;
    font-weight: bold;
}

#middle-stats{
    text-align:center;
    margin-top:30px;
}

#message-box, #attack-msg{
    color:white;
}

.defeated{
    cursor: no-drop !important;
}

#enemies-box .hero{
    cursor: crosshair !important;
}